@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
.toolbar {
  position: absolute;
  width: 100%;
  height: 46px;
  left: 0;
  top: 0;
  background: #3c3a39;
}

.logo1 {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo {
  width: 70px;
  height: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.menu-icon-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

.menu-icon {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.line {
  width: 30px;
  height: 4px;
  background-color: #acb7c3;
  margin: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 4px;
  position: absolute;
  width: 100%;
  height: 590px;
  left: 0;
  top: 46px;
  background: #1c1a19;
}

.row1 {
  flex: none;
  order: 0;
  flex-grow: 0;
}

h1 {
  width: 327px;
  height: 90px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.row2 {
  flex: none;
  order: 1;
  flex-grow: 0;
}

h2 {
  width: 327px;
  height: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.row3 {
  flex: none;
  order: 2;
  flex-grow: 0;
}

p {
  width: 327px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 18px;
  width: 100%;
  height: 10px;
  background: #1c1a19;
  order: 3;
}
